*.swp
*.o
*.a
*.hi
*~
#mac os crud
._*
.DS_Store
#cmake crud
build
#ministg crud
sandbox/ministg-0.3/src/trace
#runtime crud
runtime/main
runtime/mymain
#emacs temp files
\#*\#
#testing temp files
test/stg/*.c
test/mhs/*.c
test/stg/error/*.c
test/stg/nonstrict/*.c
